@import url("http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanumpenscript.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");
@import url("http://fonts.googleapis.com/earlyaccess/jejuhallasan.css");


@font-face {
  font-family: 'Lee sun sin';
  src: url('../fonts/leesunsin-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lee sun sin';
  src: url('../fonts/leesunsin-Bold.woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'wcl07';
  src: url('../fonts/WCL-07.woff');
  font-weight: normal;
  font-style: normal;
}
.test{
  font-family: 'Lee sun sin', serif;
  font-family: 'wcl07', serif;
}
